.box{
    width: 150px;
    height: 150px;
    margin: 10px auto;
    transition: 0.4s;
}
.box-red{
    background-color: red;
    
}
.box-red:hover{
    width: 300px;
}

.box-blue{
    background-color: blue;
}
.box-blue:hover{
    height: 300px;
}
.box-yellow{
    background-color: yellow;
   }
.box-yellow:hover{
    width: 300px;
    height: 300px;
}