.par-first{
    background-color: blueviolet;
}

.par-second{
    background-color: red;
}
ul{
    font-size: 0;
}
.inline{
    display: inline;
}

.inline-block-item{
    display: inline-block;
    padding: 15px;
    background-color: hotpink;
    font-size: initial;
}